h1,h2{
    background-color: aqua;
    color: rgb(19, 3, 44);
    text-align: center;
}
p{
    background-color:  rgb(0, 0, 0);
    color: blue;
    text-align: justify;
}
ol{
    background-color: rebeccapurple;
    color: black;
    
}
